{% extends 'index.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="container vh-100">
    <ul class="list-group mt-5">
        <li class="list-group-item d-flex justify-content-center" id="addItemButton">
            <button class="btn btn-link "><a class="nav-link text-secondary" > Add Item</a></button>
        </li>
        <li class="list-group-item d-flex justify-content-center" id="removeItemButton">
            <button class="btn btn-link"><a class="nav-link text-secondary" > RemoveItem</a></button>
        </li>
        <li class="list-group-item d-flex justify-content-center" id="addUserButton">
            <button class="btn btn-link"><a class="nav-link text-secondary" > Add User</a></button>
        </li>
        <li class="list-group-item d-flex justify-content-center" id="removeUserButton">
            <button class="btn btn-link"><a class="nav-link text-secondary" > Remove User</a></button>
        </li>
    </ul>

    <div class="container mt-5 pt-2">
        <h2>Remove User</h2>
        <form method="post" action="{{ url_for('main.delete_users') }}">
            {% for user in users %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="user_id" value="{{ user['_id'] }}" >
                <label class="form-check-label" for="defaultCheck1">
                    {{ user['username'] }}
                </label>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary mt-4">Delete</button>
        </form>
    </div>

    <div class="container mt-5 pt-2">
        <h2>Remove Item</h2>
        <form method="post" action="{{ url_for('main.delete_items') }}">
            {% for item in items %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="item_id" value="{{ item['_id'] }}" >
                <span style="font-weight: bold;">{{ item['name'] }}</span> - 
                <span style="opacity: 0.6;">{{ item['description'] }}</span>
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-secondary mt-4">Delete</button>
        </form>
    </div>
</div>


  <!-- Modal For Users -->
<div class="modal fade" id="addUserModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add User</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                <!-- <span aria-hidden="true">&times;</span> -->
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ url_for('main.register') }}"class="border border-primary p-4  rounded border-5">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="username" name="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="Enter Username">
                    
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password"  name="password" class="form-control" id="password" placeholder="Password">
                        <small id="emailHelp" class="form-text text-muted">Create User as an Administrator!</small>
                    </div>
                    <button type="submit" class="btn btn-primary mt-4">Create</button>
                </form>
                <div class="modal-footer">
                    <button id="closeAddUserModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal For Item -->
<div class="modal fade" id="addItemModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Item</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                <!-- <span aria-hidden="true">&times;</span> -->
            </div>
            <div class="modal-body">
                <form method="post" action="{{ url_for('main.add_item') }}" enctype="multipart/form-data">
                    <div class="form-group p-2">
                      <label for="item_name">Item Name</label>
                      <input type="text" name="item_name" class="form-control" id="item_name" placeholder="Nike, Adidas, etc.">
                    </div>
                    <div class="form-group p-2">
                        <label for="item_name">Item Price ($)</label>
                        <input type="number" name="item_price" class="form-control" id="item_price" placeholder="5 $">
                      </div>
                    <div class="form-group p-2">
                        <label for="description">Description of the Item</label>
                        <textarea class="form-control" name="description" id="item_description" rows="3" maxlength="150"></textarea>
                    </div>
                    <div class="form-group p-2">
                        <label for="seller_name">Seller Name</label>
                        <input type="text" name="seller_name" class="form-control" id="seller_name" placeholder="Company">
                    </div>
                    <div class="form-group p-2">
                        <label for="item_photo">Example file input</label>
                        <input type="file" name="item_photo" class="form-control-file" id="item_photo">
                    </div>
                    <!-- <div class="form-group p-2">
                      <label for="item_type">Example select</label>
                      <select class="form-control" id="item_type">
                        <option>Vinyls</option>
                        <option>Antique Furniture</option>
                        <option>GPS Sport Watches</option>
                        <option>Running Shoes</option>
                      </select>
                    </div> -->
                    <div class="form-group p-2">
                      <label for="item_type">Item Type</label>
                      <select multiple class="form-control" id="item_type" name="item_type">
                        <option>Vinyls</option>
                        <option>Antique Furniture</option>
                        <option>GPS Sport Watches</option>
                        <option>Running Shoes</option>
                      </select>
                    </div>
                    <div class="form-row  row p-2">
                        <div class="form-group col-md-3">
                            <label for="battery_life">Battery (h)</label>
                            <input type="number" name="battery_life" class="form-control" id="battery_life">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="age">Age (year)</label>
                            <input type="number" name="age" class="form-control" id="age">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="size">Size (EU)</label>
                            <input type="number" name="size" class="form-control" id="size">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="material" >Material </label>
                            <input type="text" name="material" class="form-control" id="material">
                        </div>
                      </div>
                    <button type="submit" class="btn btn-primary m-2">Create</button>
                  </form>
                <div class="modal-footer">
                    <button id="closeAddItemModal" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    document.addEventListener('DOMContentLoaded', function() {

        const addUserButton = document.getElementById('addUserButton');
        const addUsermodalElement = document.getElementById('addUserModalCenter');
        const closeAddUserButton = document.getElementById('closeAddUserModal');
        

        const userModal = new bootstrap.Modal(addUsermodalElement);

        addUserButton.addEventListener('click', function() {
            userModal.show();  
        });

        closeAddUserButton.addEventListener('click', function() {
            userModal.hide();
        });

        const addItemButton = document.getElementById('addItemButton');
        const addItemmodalElement = document.getElementById('addItemModalCenter');
        const closeAddItemButton = document.getElementById('closeAddItemModal');
        

        const itemModal = new bootstrap.Modal(addItemmodalElement);

        addItemButton.addEventListener('click', function(){
            itemModal.show();
        });

        closeAddItemButton.addEventListener('click', function(){
            itemModal.hide();
        });


        const variableInputElement = document.getElementById('item_type');
        const batteryLifeInput = document.getElementById('battery_life');
        const ageInput = document.getElementById('age');
        const sizeInput = document.getElementById('size');
        const materialInput = document.getElementById('material');

        disableAll();

        function disableAll(){
            batteryLifeInput.disabled = true;
            ageInput.disabled = true;
            sizeInput.disabled = true;
            materialInput.disabled = true;
        }

        variableInputElement.addEventListener('change', function() {
            const selectedOptions = Array.from(variableInputElement.selectedOptions).map(option => option.value);
            disableAll();
            if( selectedOptions.length != 1 ){
                alert("1 Item Type is allowed!");
            }
            else{
                // alert(selectedOptions[0]); // works fine
                selectedOption = selectedOptions[0];

                if(selectedOption == "Vinyls"){
                    ageInput.disabled = false;
                }
                else if(selectedOption == "GPS Sport Watches"){
                    batteryLifeInput.disabled = false;
                }   
                else if(selectedOption == "Antique Furniture"){
                    ageInput.disabled = false;
                    materialInput.disabled = false;
                }
                else if(selectedOption == "Running Shoes"){
                    sizeInput.disabled = false;
                    materialInput.disabled = false;
                }
            }
        });
        

    });
    
</script>

{% endblock %}